<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Osoby</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of content">
          <td>{{ user.username }}</td>
          <td><button (click)="deleteUser(user.id)" class="btn btn-danger float-right">Usuń</button></td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-success" *ngIf="successfullyDeleted">
      Usunięto użytkownika
    </div>
    <button (click)="drawLots()" class="btn btn-primary btn-block">Losuj</button>

    <table class="table">
      <thead>
        <tr>
          <th>Osoba</th>
          <th>Osoba wylosowana</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lot of lots">
          <td>{{ lot.user.username }}</td>
          <td>{{ lot.drawnUser.username}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>Osoba</th>
          <th>Życzenie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wish of wishes">
          <td>{{ wish.username }}</td>
          <td>{{ wish.name }}</td>
        </tr>
      </tbody>
    </table>
</div>